body {
    background: #161616;
    color: #ff6600;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.5;
    font-size: 1.25rem;
    margin: 2rem;
}

.section_8bit{
    width: 100%;
    float: left;
    border-left: 10px solid #003cff;
    border-right: 10px solid #003cff;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section_8bit .head{
    display: block;
    color: #ff6600;
    padding: 30px;
    font-size: 3rem;
    text-align: center;
    margin: -10px 0;
    border-top: 10px solid #003cff;
    border-bottom: 10px solid #003cff;
}

.section_8bit .wrapper{
    display: block;
    color: #ff6600;
    padding: 30px;
    font-size: 1.25rem;
    margin: -10px 0;
    border-top: 10px solid #003cff;
    border-bottom: 10px solid #003cff;
}
.section_8bit .formula{
    display: block;
    color: #ff6600;
    padding: 30px;
    font-size: 1.5rem;
    text-align: center;
    margin: -10px 0;
}
    
.section_8bit::before,
.section_8bit::after,
.section_8bit .wrapper::before,
.section_8bit .wrapper::after{
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    background: #003cff;
}
    .section_8bit::before{ top: -5px; left: -5px; }
    .section_8bit::after{ top: -5px; right: -5px; }
    .section_8bit .wrapper::before{ bottom: -5px; left: -5px; }
    .section_8bit .wrapper::after{ bottom: -5px; right: -5px; }


canvas { 
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 800px;
    max-height: 800px;
}