:root{
	--backgr: #F5EEDC;
	--text: #27548A;
	--text-selected: #000000;
	--text-selected-bckgr: #b81e1e4b;
	--link: #d6952c;
	--big-text: #000000;
	--text-hover: #F5EEDC;
}

::-moz-selection { /* Code for Firefox */
	color: var(--text-selected);
	background: var(--text-selected-bckgr);
}
  
::selection {
	color: var(--text-selected);
	background: var(--text-selected-bckgr);
}

body {
	background-color: var(--backgr);
	font-family: "Lucida Console", "Courier New", monospace;
	color: var(--text);
	font-weight: 1000;
	font-size: 20px;
}

h1,h2,h3,h4,h5{
	color: var(--big-text);
}

b{
	color: var(--big-text);
}

.box {
	/*display: flex;*/
	flex-flow: row wrap;
	border-style: solid;
	max-width: 900px;
} 

.box2 {
	flex-flow: row wrap;
	border-style: solid;
	max-width: 600px;
	min-width: 400px;
} 

.box3 {
	flex-flow: row wrap;
	border-style: solid;
	max-width: 800px;
} 


.main {
	display: flex;
	flex-flow: column nowrap;
} 

div{
	margin: auto;
	width: 85%;
	padding: 20px;
}
.subtxt {
	margin: 0% 5%;
}


.biglinks {
	float: none;
    width: 100%;
}

a {
	color: var(--link);
	text-decoration: none;
}

.biglinks a {
	display: block;
	color: var(--link);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Links - change color on hover */
a:hover {
  background-color: var(--text-selected-bckgr);
  color: var(--text-selected);
}