body {
	background-color: #777777;
	font-family: "Lucida Console", "Courier New", monospace;
	color: #000000;
	font-weight: 1000;
	font-size: 20px;
}

h1,h2,h3,h4,h5{
	color: #0000ff;
}

.box {
	display: flex;
	flex-flow: row wrap;
	border-style: solid;
	max-width: 500px;
} 

div{
	margin: 2em;
}
.subtxt {
	margin: 0% 5%;
}


.biglinks {
	float: none;
    width: 100%;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.biglinks a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Links - change color on hover */
a:hover {
  background-color: #ddd;
  color: black;
}